# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
# Prisma
# Development Database URL
DATABASE_URL=

# Production Database URL
#DATABASE_URL=

# OAuth & NextAuth
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Google Books API Key
GOOGLE_BOOKS_API_KEY=

# Logginer
LOGTAIL_TOKEN=

# BooksRun API Key
BOOKS_RUN_API_KEY=

# Cloudinary -- Used for image uploads
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=